# Node
node_modules/
npm-debug.log*
yarn-error.log
.env
.env.local
.env.*.local

# Build
dist/
build/
.vite/

# Editor
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db

# Uploads locales
uploads/
